<div [ngStyle]="{'display': isOpen ? 'block' : 'none'}" (click)="close($event)">
    <div class="modal" role="dialog" [ngStyle]="{'display': isOpen === true ? 'block' : 'none'}">
        <div class="modal-dialog" role="document" (click)="open($event)">
            <div class="modal-content">
                <div class="modal-header" #modalHeader>
                    <ng-content select="[modal-header]"></ng-content>
                </div>
                <div class="modal-body" #modalBody>
                    <ng-content select="[modal-body]"></ng-content>
                </div>
                <div class="modal-footer" #modalFooter>
                    <ng-content select="[modal-footer]"></ng-content>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop" [ngClass]="{'show': isOpen}"></div>
</div>
