<form [formGroup]="eventForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label for="event_type">Type</label>
        <select class="form-control" formControlName="type" id="event_type">
            <option *ngFor="let type of getTypes()" [value]="type">{{ type }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="event_date">Date</label>
        <input type="date" class="form-control" id="event_date" placeholder="Date" formControlName="date">
    </div>
    <button class="btn btn-primary" [disabled]="eventForm.pristine">Save</button>
</form>
