<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user | name:'short' }}</td>
            <td class="text-right">
                <a [routerLink]="['../detail', user._id]" class="mr-2">
                    <span octicon="file"></span>
                </a>
                <a [routerLink]="['../edit', user._id]" class="mr-2">
                    <span octicon="pencil"></span>
                </a>
                <a href="javascript:void(0);" (click)="remove(user)">
                    <span octicon="trashcan"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
